@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[Mascota])(
    implicit
    messages: Messages,
    req: AuthenticatedRequest[_]
)
@input.text(
    "nombreMascota",
    messages("datosMascota.nombre.lbl"),
    Some(form("nombreMascota")),
    messages("datosMascota.nombre.ph"),
    autofocus = true
)

@input.text(
    "raza",
    messages("datosMascota.raza.lbl"),
    Some(form("raza")),
    messages("datosMascota.raza.ph")
)

@input.text(
    "edad",
    messages("datosMascota.edad.lbl"),
    Some(form("edad")),
    messages("datosMascota.edad.ph"),
    tipo = "number",
    extra = "min='0'"
)

@input.text(
    "fechaInicio",
    messages("datosMascota.fechaInicio.lbl"),
    Some(form("fechaInicio")),
    messages("datosMascota.fechaInicio.ph")
)
