@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(
  cliente: Cliente,
  mascotas: List[Mascota],
  telefonos: List[Telefono],
  saldo: BigDecimal,
  items: List[Item])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_])

@main("cliente.title", scripts = Seq("javascripts/ajaxcall.js", "javascripts/items/eliminar.js")) {
    <h1>@messages("cliente.header", cliente.nombreCompleto)</h1>

    <div class="col-sm-12 col-md-6" >
        <h2>@messages("cliente.saldo.h", saldo)</h2>
        <div class="col-sm-12">@saldo</div>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>
            @messages("cliente.telefonos.h")
            @show.addButton(ruta=routes.ClienteController.addTelfView(cliente.id).toString, texto=messages("cliente.telefonos.add"))
        </h2>
        <ul>
            @for(t <- telefonos){
                <li>@t.numero </li>
            }
        </ul>
    </div>

    <div class="row" >
        <div class="col-sm-12 col-md-6">
            <h2>
                @messages("cliente.mascotas")
                @show.addButton(routes.MascotaController.addMascotaView(cliente.id).toString,
                                messages("cliente.mascota.add"))
            </h2>

            <table class="table top3">
                <thead>
                    <tr>
                        <th class="">@messages("cliente.mascota.nombre") </th>
                        <th class="">@messages("cliente.mascota.raza") </th>
                        <th class="">@messages("cliente.mascota.edad") </th>
                        <th class="text-center">@messages("cliente.mascota.fechaInicio") </th>
                        <th class="text-center">@messages("cliente.mascota.edit") </th>
                        <th class="text-center">@messages("cliente.mascota.addItem") </th>
                    </tr>
                </thead>
                <tbody>
                    @for(m <- mascotas) {
                        <tr>
                            <td>@m.nombre </td>
                            <td>@m.raza </td>
                            <td>@m.edad </td>
                            <td class="text-center" >@formatter.short(m.fechaInicio) </td>
                            <td class="text-center" >
                                <a href="@routes.MascotaController.editMascotaView(m.id)"
                                   class="btn btn-default btn-xs"
                                   title="@messages("cliente.mascota.edit.tt")"
                                >
                                    @gi("pencil")
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="@routes.ItemController.addItemView(m.id)"
                                   class="btn btn-default btn-xs"
                                   title="@messages("cliente.mascota.addItem.tt")"
                                >
                                    @gi("plus")
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>@messages("cliente.items")</h2>

            @defining(mascotas.map(m => (m.id, m.nombre)).toMap) { mmascotas =>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-3">@messages("cliente.item.desc") </th>
                            <th class="col-sm-2">@messages("cliente.item.monto") </th>
                            <th class="col-sm-3">@messages("cliente.item.mascota") </th>
                            <th class="col-sm-3">@messages("cliente.item.fecha") </th>
                            <th class="col-sm-1 text-center">@messages("cliente.item.eliminar") </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(i ← items){
                            <tr id="item@{i.id}">
                                <td>@i.descripcion </td>
                                <td>@i.monto </td>
                                <td>@{mmascotas(i.idMascota)} </td>
                                <td>@formatter.short(i.fecha) </td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs eliminarItem" data-id="@{i.id}">
                                        @gi("trash")
                                    </button>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="eliminarItemData"
         data-route  = "@routes.ItemController.eliminar"
         data-title  = "@messages("cliente.item.eliminar.title")"
         data-msg    = "@messages("cliente.item.eliminar.text")"
         data-ok     = "@messages("cliente.item.eliminar.ok")"
         data-cancel = "@messages("cliente.item.eliminar.cancel")"
         data-okmsg  = "@messages("cliente.item.eliminar.exito")"
         data-errmsg = "@messages("cliente.item.eliminar.error")"
    > </div>

    @helper.CSRF.formField
}
