@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(
  cliente: Cliente,
  mascotas: List[Mascota],
  telefonos: List[Telefono],
  saldo: BigDecimal,
  itemsCliente: List[Item])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    flash        : Flash,
    req: AuthenticatedRequest[_])

@main(
    "cliente.title",
    scripts = Seq(
        "javascripts/ajaxcall.js",
        "javascripts/items/eliminar.js",
        "javascripts/cliente/cliente.js"
    )
) {
    <h1>
        <span id="nombreCompleto" >@cliente.nombreCompleto </span>
        <button class="btn btn-default btn-xs"
                data-toggle="modal"
                data-target="#nombreModal"
        >
            @gi("pencil")
        </button>
    </h1>

    <div class="col-sm-12 col-md-6" >
        <h2>@messages("cliente.saldo.h", saldo)</h2>
        <div class="col-sm-12">@saldo</div>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>
            @messages("cliente.telefonos.h")
            @show.addButton(ruta=routes.ClienteController.addTelfView(cliente.id).toString, texto=messages("cliente.telefonos.add"))
        </h2>
        <ul>
            @for(t <- telefonos){
                <li>@t.numero </li>
            }
        </ul>
    </div>

    <div class="row" >
        <div class="col-sm-12 col-md-6">
            <h2>
                @messages("cliente.mascotas")
                @show.addButton(routes.MascotaController.addMascotaView(cliente.id).toString,
                                messages("cliente.mascota.add"))
            </h2>

            @mascota.tablaMascotas(mascotas)
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>@messages("cliente.items")</h2>
            @items.clienteItems(mascotas, itemsCliente)
        </div>
    </div>

    <div class="eliminarItemData"
         data-route  = "@routes.ItemController.eliminar"
         data-title  = "@messages("cliente.item.eliminar.title")"
         data-msg    = "@messages("cliente.item.eliminar.text")"
         data-ok     = "@messages("cliente.item.eliminar.ok")"
         data-cancel = "@messages("cliente.item.eliminar.cancel")"
         data-okmsg  = "@messages("cliente.item.eliminar.exito")"
         data-errmsg = "@messages("cliente.item.eliminar.error")"
    > </div>

    <div class="modNombreData"
         data-route  = "@routes.ClienteController.editNombre"
         data-title  = "@messages("cliente.nombre.mod.title")"
         data-msg    = "@messages("cliente.nombre.mod.lbl")"
         data-ok     = "@messages("cliente.nombre.mod.ok")"
         data-cancel = "@messages("cliente.nombre.mod.cancel")"
         data-okmsg  = "@messages("cliente.nombre.mod.confirm")"
         data-errmsg = "@messages("cliente.nombre.mod.error")"
    > </div>

    @show.modal(
        id = "nombreModal",
        titleKey = "cliente.nombre.mod.title",
        okKey = "cliente.nombre.mod.ok",
        cancelKey = "cliente.nombre.mod.cancel"
    ){
        <input type="hidden" name="idCliente" value="@cliente.id" class="modNombre" >
        @input.text(
            id="nombre",
            label = messages("cliente.nombre.mod.lbl"),
            placeholder = messages("cliente.nombre.mod.ph"),
            extraClass = "modNombre",
            value = Some(cliente.nombre)
        )
        @input.text(
            id="apellido",
            label = messages("cliente.apellido.mod.lbl"),
            placeholder = messages("cliente.apellido.mod.ph"),
            extraClass = "modNombre",
            value = Some(cliente.apellido)
        )
    }

    @helper.CSRF.formField
}
