@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(
  cliente: Cliente,
  mascotas: List[Mascota],
  saldo: BigDecimal,
  items: List[Item])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_])
@main("cliente.title") {
    <h1>@messages("cliente.header", cliente.nombreCompleto)</h1>

    <div class="row" >
        <p>@messages("cliente.saldo", saldo)</p>
    </div>

    <div class="row" >
        <div class="col-sm-12 col-md-6">
            <h2>@messages("cliente.mascotas")</h2>

            @show.addButton(routes.MascotaController.addMascotaView(cliente.id).toString,
                            messages("cliente.mascota.add"))

            <table class="table top3">
                <thead>
                    <tr>
                        <th class="">@messages("cliente.mascota.nombre") </th>
                        <th class="">@messages("cliente.mascota.raza") </th>
                        <th class="">@messages("cliente.mascota.edad") </th>
                        <th class="">@messages("cliente.mascota.fechaInicio") </th>
                    </tr>
                </thead>
                <tbody>
                    @for(m <- mascotas) {
                        <tr>
                            <td>@m.nombre </td>
                            <td>@m.raza </td>
                            <td>@m.edad </td>
                            <td>@formatter.short(m.fechaInicio) </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>@messages("cliente.items")</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>@messages("cliente.item.desc") </th>
                        <th>@messages("cliente.item.monto") </th>
                        <th>@messages("cliente.item.fecha") </th>
                    </tr>
                </thead>
                <tbody>
                    @for(i ← items){
                        <tr>
                            <td>@i.descripcion </td>
                            <td>@i.monto </td>
                            <td>@formatter.long(i.fecha) </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
}
