@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(clientes: List[(Cliente, BigDecimal)])(
    implicit
    messages: Messages,
    req: AuthenticatedRequest[_],
    flash        : Flash,
    notifications: Seq[Notification] = Nil)
@main("clientes.title") {
    <h1>@messages("clientes.header")</h1>
    <table class="top5 table">
        <thead>
            <tr>
                <th class="col-sm-9">@messages("clientes.t.nombre")</th>
                <th class="col-sm-2 text-right">@messages("clientes.t.saldo")</th>
                <th class="col-sm-1 text-center">@messages("clientes.t.ver")</th>
            </tr>
        </thead>
        <tbody>
            @for((cliente, saldo) <- clientes) {
                <tr>
                    <td>@{cliente.nombreCompleto} </td>
                    <td class="text-right">@saldo </td>
                    <td class="text-center"><a href="@routes.ClienteController.cliente(cliente.id)">@gi("search")</a></td>
                </tr>
            }
        </tbody>
    </table>
}
