@import be.objectify.deadbolt.scala.AuthenticatedRequest

@* Pagina de inicio para los usuarios externos *@
@(mascotas: List[Mascota], itemsCliente: List[Item])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_]
)

@mainex("externo.home.title") {
    <h1>@messages("externo.home.header") </h1>

    <div class="row" >
        <a href="@controllers.externo.routes.ExternoController.addPagoView"
           class="btn btn-success col-sm-2 col-sm-offset-5"
        >
            @messages("externo.home.addPago.text")
        </a>
    </div>

    <div class="row col-sm-12" >@mascota.tablaMascotas(mascotas) </div>

    <div class="row" >
        <div class="col-sm-12">
    	      <h2>@messages("externo.items")</h2>
    	      @items.clienteItems(mascotas, itemsCliente)
        </div>
    </div>
    }
