@import be.objectify.deadbolt.scala.AuthenticatedRequest

@* Pagina de inicio para los usuarios externos *@
@(mascotas: List[Mascota])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_]
)

@mainex("externo.home.title") {
    <h1>@messages("externo.home.header") </h1>

    <div class="row" >
        <a href="@controllers.externo.routes.ExternoController.agregarPagoView"
           class="btn btn-default col-sm-2 col-sm-offset-5"
        >
            @messages("externo.home.addPago.text")
        </a>
    </div>

    @mascota.tablaMascotas(mascotas)
}
