@* Render una forma de registrar pago pendiente *@

@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[PagoPendiente], mascotas: List[Mascota])(
  implicit
  messages: Messages,
  req: AuthenticatedRequest[_]
)


@show.form(action="#") {
    @if(form("id").value.isDefined){
        <input type="hidden" id="id" value="@{form("id").value.get}">
    }

    @input.dropdown(
          id = "idMascota",
          mascotas.map(m => (m.id.toString, m.nombre)),
          label = Some(messages("pagoPendienteForm.mascota.lbl")),
          placeholder = Some(messages("pagoPendienteForm.mascota.ph")),
          field = Some(form("idMascota"))
    )

    @input.text(
          id = "monto",
          label = messages("pagoPendienteForm.monto.lbl"),
          placeholder = messages("pagoPendienteForm.monto.ph"),
          field = Some(form("monto"))
    )

    @input.text(
          id = "confirmacion",
          label = messages("pagoPendienteForm.confirmacion.lbl"),
          placeholder = messages("pagoPendienteForm.confirmacion.ph"),
          field = Some(form("monto"))
    )

    @* La parte de imagen la dejo para despues *@

    @input.submit("pagoPendienteForm.submit.lbl")
}
