@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[(Long, BigDecimal, String)], idMascota: Long )(
    implicit
    messages: Messages,
    req: AuthenticatedRequest[_],
    notifications: Seq[Notification] = Nil)

@main("addItem.title") {
    <h1>@messages("addItem.header")</h1>

    @show.form(action=routes.ItemController.addItem.toString) {
        <input type="hidden" name="mascota" value="@idMascota" >

        @input.text(id          = "monto",
                    label       = messages("addItem.monto.label"),
                    placeholder = messages("addItem.monto.ph"),
                    field       = Some(form("monto")))

        @input.text(id          = "descripcion",
                    label       = messages("addItem.desc.label"),
                    placeholder = messages("addItem.desc.ph"),
                    field       = Some(form("descripcion")))
        @input.submit("addItem.submit")
    }
}
