@* Mostrar los items de un cliente *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import be.objectify.deadbolt.scala.views.html.restrict

@(mascotas: List[Mascota], items: List[Item])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_]
)
@defining(mascotas.map(m => (m.id, m.nombre)).toMap) { mmascotas =>
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-3">@messages("cliente.item.desc") </th>
                <th class="col-sm-2">@messages("cliente.item.monto") </th>
                <th class="col-sm-3">@messages("cliente.item.mascota") </th>
                <th class="col-sm-3">@messages("cliente.item.fecha") </th>
                <th class="col-sm-1 text-center">@messages("cliente.item.control") </th>
            </tr>
        </thead>
        <tbody>
            @for(i ← items){
                <tr id="item@{i.id}" >
                    <td>@i.descripcion </td>
                    <td>@i.monto </td>
                    <td>@{mmascotas(i.idMascota)} </td>
                    <td>@formatter.short(i.fecha) </td>
                    @restrict(roles = List(Array("interno"))) {
	                    <td class="text-center">
	                        <a class="btn btn-default btn-xs" href="@routes.ItemController.editItem(i.id)" >
	                            @gi("pencil")
	                        </a>
	                        <button class="btn btn-danger btn-xs eliminarItem" data-id="@{i.id}" >
	                            @gi("trash")
	                        </button>
	                    </td>
                    }
                </tr>
                }
        </tbody>
    </table>
}