@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(pagos: List[(PagoPendiente, Mascota, Cliente)])(
    implicit
    messages: Messages,
    req: AuthenticatedRequest[_],
    notifications: Seq[Notification] = Nil)
)
@main(
    "items.pagosPendientes.title",
    scripts = Seq(
        "javascripts/pagosPendientes/pagosPendientes.js",
        "javascripts/ajaxcall.js"
    )
) {
    <h1>@messages("items.pagosPendientes.header") </h1>

    <table class="top5 table">
        <thead>
            <tr>
                <th class="col-sm-3">@messages("items.pagosPendientes.p.cliente")</th>
                <th class="col-sm-3">@messages("items.pagosPendientes.p.mascota")</th>
                <th class="col-sm-2">@messages("items.pagosPendientes.p.monto")</th>
                <th class="col-sm-2">@messages("items.pagosPendientes.p.conf")</th>
                <th class="col-sm-2">@messages("comun.controles")</th>
            </tr>
        </thead>
        <tbody>
            @for((p, m, c) <- pagos) {
                <tr id="pago@{p.id}">
                    <td>
                        <a href="@routes.ClienteController.cliente(c.id)">
                            @{c.nombre}
                        </a>
                    </td>
                    <td>@{m.nombre} </td>
                    <td>@p.monto</td>
                    <td>@p.confirmacion.getOrElse("")</td>
                    <td>
                        <a href="#"
                           class="btn btn-default confirmar"
                           data-id="@p.id"
                           title='@messages("items.pagosPendientes.p.ok")'
                        >
                           @gi("ok")
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @helper.CSRF.formField
}
