@(form: Form[(String, String)], images: ImageBlock, redirectUri: String = "")(
    implicit
    notifications: Seq[Notification] = Nil,
    messages     : Messages,
    reqHeader    : RequestHeader
)

<head>
  <title>@messages("login.title")</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/alertify.css")"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/alertifyjs/build/css/themes/default.css")"  media="screen,projection"/>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
</head>
<body>
  <div class="container">
      <div class="col-sm-12">
          <img src="@routes.Assets.versioned("images/knlogo.png")"
               alt="@messages("login.banner.alt")"
               class="banner"
          >
      </div>

    <div class="jumbotron altFont">
      <form action="/login" method="post" role="form">
          @helper.CSRF.formField
          <div class="row">
              <div class="input-group col-md-5 col-md-offset-1 col-sm-12">
                  <label for="login">@messages("login.login.label")</label>
                  <input type="text" name="login" id="login"
                         class="form-control validate">
                  <!-- autofocus> -->
              </div>
              <div class="input-group col-md-5 col-sm-12">
                  <label for="password">@messages("login.password.label")</label>
                  <input type="password" name="password" id="loginpassword" class="form-control">
              </div>
          </div>

          <div class="row top5">
              <button class="btn btn-primary col-sm-2 col-sm-offset-5" type="submit" name="submit">
                  @messages("login.submit.label")
              </button>
          </div>
      </form>

    </div>

    <div class="row" >
        <div class="hidden-xs">
            <div class="col-sm-4"><img class="img-responsive imagedisplay" src="@images.first" ></div>
            <div class="col-sm-4"><img class="img-responsive imagedisplay" src="@images.second" ></div>
            <div class="col-sm-4"><img class="img-responsive imagedisplay" src="@images.third" ></div>
        </div>
    </div>

  </div>

  <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/alertifyjs/build/alertify.js")"></script>

  @for(n <- notifications){
    @show.notification(n.message, n.level)
  }
</body>
