@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(usuarios: List[User])(
    implicit
    formatter: _root_.format.DateFormatter,
    messages: Messages,
    req: AuthenticatedRequest[_],
    notifications: Seq[Notification] = Nil)
@main("usuariosInternos.title") {
    <h1>
        @messages("usuariosInternos.header")
        @show.addButton(controllers.usuarios.routes.UsuariosInternosController.crearUsuarioInternoView().toString,
                        messages("usuariosInternos.add"))
    </h1>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-9">@messages("usuariosInternos.t.login") </th>
                    <th class="col-sm-3 text-center">@messages("usuariosInternos.t.ultimaAct") </th>
                </tr>
            </thead>
            <tbody>
                @for(u <- usuarios) {
                    <tr>
                        <td>@u.login </td>
                        <td class="text-center">@{u.lastActivity.map(act => formatter.long(act)).getOrElse("---")}</td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
    }
