@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(clientes: List[(String, BigDecimal)])(implicit messages: Messages, req: AuthenticatedRequest[_], notifications: Seq[Notification] = Nil)
@main("clientes.title") {
    <h1>@messages("clientes.header")</h1>
    <table class="top5 table">
        <thead>
            <tr>
                <th>@messages("clientes.t.nombre")</th>
                <th class="text-right">@messages("clientes.t.saldo")</th>
            </tr>
        </thead>
        <tbody>
            @for((nombre, saldo) <- clientes) {
                <tr>
                    <td>@nombre </td>
                    <td class="text-right">@saldo </td>
                </tr>
            }
        </tbody>
    </table>
}
