@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import be.objectify.deadbolt.scala.views.html.restrict

@()(implicit messages: Messages, req: AuthenticatedRequest[Any])
<nav>
    <div class="navbar navbar-default">
        <div class="container-fluid" >
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="@routes.Assets.versioned("images/knlogo.png")"
                         alt="@messages("navbar.titleAlt")"
                         height="28px"
                    >
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@routes.HomeController.index">@messages("navbar.index")</a></li>
                    @restrict(roles = List(Array("interno"))) {
                        <li><a href="@routes.ClienteController.clientes" >@messages("navbar.clientes")</a></li>
                        <li><a href="@routes.ClienteController.addCliente" >@messages("navbar.addCliente")</a></li>
                        <li><a href="@routes.ServicioController.servicios">@messages("navbar.servicios")</a></li>
                        <li><a href="@controllers.usuarios.routes.UsuariosInternosController.usuariosInternos" >@messages("navbar.usuariosInternos")</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@routes.LoginController.logout">
                            @messages("navbar.logout")
                            @gi("log-out")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
