@** Interfaz para agregar servicios *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(form: Form[Servicio])(implicit messages: Messages, req: AuthenticatedRequest[_], notifications: Seq[Notification] = Nil)
@main("addServicio.title") {
    <h1>@messages("addServicio.header")</h1>

    @show.form(action=routes.ServicioController.addServicio.toString) {
        @input.text(
            "nombre",
            messages("addServicio.nombre.lbl"),
            Some(form("nombre")),
            messages("addServicio.nombre.ph"),
            autofocus = true
        )

        @input.text(
            "precio",
            messages("addServicio.precio.lbl"),
            Some(form("precio")),
            messages("addServicio.precio.ph"))

        @input.checkbox(
            "mensual",
            label = messages("addServicio.mensual.lbl"),
            Some(form("mensual")))

        @input.submit("addServicio.submit")
    }
}
