@** Vista de los servicios registrados del sistema *@
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(servicios: List[Servicio])(
    implicit
    messages: Messages,
    req: AuthenticatedRequest[_],
    flash: Flash,
    notifications: Seq[Notification] = Nil)
@main("servicios.title") {
    <h1>
        @messages("servicios.header")
        @show.addButton(
            routes.ServicioController.addServicio.toString,
            messages("servicios.add"))
    </h1>


    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-7">@messages("servicios.nombre")</th>
                <th class="col-sm-3">@messages("servicios.precio")</th>
                <th class="col-sm-1 text-center">@messages("servicios.mensual")</th>
                <th class="col-sm-1 text-center" >@messages("comun.controles")</th>
            </tr>
        </thead>
        <tbody>
            @for(s <- servicios) {
                <tr>
                    <td>@s.nombre</td>
                    <td>@s.precio</td>
                    <td class="text-center">@if(s.mensual){@gi("ok")} </td>
                    <td class="text-center" >
                        <a class="btn btn-default btn-xs" href="@routes.ServicioController.editServicioView(s.id)" >@gi("pencil") </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
